h1, h2, h3 {
    font-weight: normal;
}

ul {
    list-style: none;
    padding: 10px 0;
}

.details-container {
    display: flex;
}

.basic-details {
    width: 15%;
    height: fit-content;
    padding: 25px;
    padding-left: 5%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    border-style: solid;
    border-color: #d9d9d9;
    border-width: 2px;
    margin-top: 20px;
    border-radius: 5px;
}

.basic-details > h2 {
    font-size: 1.1em;
    margin-bottom: 10px;
}

.basic-details > h3 {
    font-size: 1.5em;
    margin-top: 10px;
}

.basic-details > ul > li {
    font-size: 1.3em;
    padding: 5px 0;
}

.main-details {
    width: 70%;
    display: block;
}

.details-info {
    background-color: #d9d9d9;
    margin: 20px;
    padding: 20px 60px;
}

.details-info > h2 {
    margin: 10px 0 0 0;
}

.details-info > ul {
    padding-bottom: 0;
}

.details-info > ul > li {
    padding: 5px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    padding: 10px 5px;
    text-align: left;
    /* width: auto; */
}

td {
    padding: 10px 5px;
    white-space: nowrap;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

button{
    border: 0;
    padding: 10px;
    color: white;
    background: #3366cc;
    cursor: pointer;
}

select{
    border: 0;
    padding: 10px;
    cursor: pointer;
}

.new-vaccine{
    width: 100%;
    display: flex;
}

.hidden{
    display: none;
}

.displayed{
    display: unset;
}

.new-vaccine > form{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.new-vaccine > form > input{
    border: 0;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 15px;
}

.new-vaccine > form > textarea{
    border: 0;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 15px;
}

button{
    border: 0;
    padding: 10px;
    color: white;
    background: #3366cc;
    cursor: pointer;
}

#alert{
    color: #3366cc;
}
