<div class="details-container">
    <div class="basic-details">
        <h2>Detalles de:</h2>
        <h3>{{ pet.name }}</h3>
        <ul>
            <li>{{ pet.type }}</li>
            <li>{{ pet.breed }}</li>
            <li>{{ pet.sex }}</li>
            <li>{{ pet.age }} años</li>
        </ul>
    </div>

    <div class="main-details">
        <div class="details-info">
            <h2>Enfermedades</h2>
            <ul *ngIf="pet.diseases.length != 0; else elseDis">
                <li *ngFor="let disease of pet.diseases">{{ disease.name }}: {{disease.description}}</li>
            </ul>

            <ng-template #elseDis>
                <p>No hay enfermedades registradas</p>
            </ng-template>

            <div class="new-disease">
                <h3>Agregar enfermedad</h3>
                <select (change)="updateNewDisease($event)">
                    <option disabled selected value="">Seleccionar enfermedad</option>
                    <option *ngFor="let disease of diseases" [value]="disease.id">{{ disease.name }}</option>
                </select>
                <button (click)="osSubmitDisease()">Agregar</button>
            </div>
        </div>

        <div class="details-info" *ngIf="pet.diseases.length != 0">
            <h2>Recomendaciones</h2>
            <ul>
                <ng-container *ngFor="let disease of pet.diseases">
                    <li *ngFor="let r of disease.recommendations">{{ r.description }}</li>
                </ng-container>
            </ul>
        </div>

        <div class="details-info">
            <h2>Vacunas</h2>
            <table *ngIf="pet.vaccines.length != 0; else elseVac">
                <tr>
                    <th>Vacuna</th>
                    <th>Fecha</th>
                    <th>Validez (Meses)</th>
                </tr>
                <tr *ngFor="let vaccine of pet.vaccines">
                    <td>{{ vaccine.name }}</td>
                    <td>{{ vaccine.date | date: 'dd/MM/yyyy' }}</td>
                    <td>{{ vaccine.validity }}</td>
                </tr>
            </table>

            <ng-template #elseVac>
                <p>No hay vacunas registradas</p>
            </ng-template>

            <button (click)="toggleNewVaccine()">Agregar nueva vacuna</button>

            <div class="new-vaccine"
                [ngClass]="{'displayed': formNewVaccineHidden == false, 'hidden': formNewVaccineHidden == true}">
                <form (ngSubmit)="osSubmitVaccine()" #vaccineForm="ngForm">
                    <h3>Agregar vacuna</h3>

                    <div id="alert" *ngIf="name.invalid || description.invalid || date.invalid || validity.invalid">
                        Ingresa todos los datos!
                    </div>

                    <label for="name">Nombre de la vacuna</label>
                    <input required #name="ngModel" type="text" name="name" placeholder="Nombre"
                        [(ngModel)]="newVaccine.name">

                    <label for="description">Descripcion</label>
                    <textarea required #description="ngModel" name="description" placeholder="Descripcion"
                        [(ngModel)]="newVaccine.description"></textarea>

                    <label for="date">Fecha de aplicacion</label>
                    <input required #date="ngModel" type="date" name="date" [(ngModel)]="newVaccine.date">

                    <label for="validity">Validez de la vacuna</label>
                    <input required #validity="ngModel" type="number" name="validity" placeholder="(meses)"
                        [(ngModel)]="newVaccine.validity">

                    <button [disabled]="vaccineForm.invalid" type="submit">Agregar</button>
                </form>
            </div>
        </div>
    </div>
</div>